.grid-background {
  --i: 2rem;
  --w: 1.5px;
  background: #f6f1e7; 
}

.grid-background:before {
  content: "";
  background-size: var(--i) var(--i);
  background-image:
    linear-gradient(
      to right,
      #baddda var(--w),
      transparent var(--w)
    ),
    linear-gradient(
      to bottom,
      #baddda var(--w),
      transparent var(--w)
    );
}